#virtual environment
env/


#flask
instance/*
!instance/.gitignore
.webassets-cache 

#Flask.Python Stack
#Byte-compiled /optimized/ DLL files 
__pycache__/
*.py[cod]
*$py.class

venv/

*.pyc
__pycache__/

#Dont't track created database file 
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
