{% extends "layout.html" %}
{% block content %}
<p> Please enter information of new employee below.</p>
<form action="#" method="POST">
  <fieldset class="form-group">
  </fieldset>
  <div class="form-row">
    <!-- first name -->
    <div class="form-group col-md-4">
      {{ form.employee_first_name.label(class="form-control-label") }}

      {% if form.employee_first_name.errors %}
      {{ form.employee_first_name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_first_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_first_name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- last name -->

    <div class="form-group col-md-4">
      {{ form.employee_last_name.label(class="form-control-label") }}

      {% if form.employee_last_name.errors %}
      {{ form.employee_last_name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_last_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_last_name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- middle name -->
    <div class="form-group col-md-4">
      {{ form.employee_middle_name.label(class="form-control-label") }}

      {% if form.employee_middle_name.errors %}
      {{ form.employee_middle_name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_middle_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_middle_name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </div>
  <div class="form-row">
    <!-- phone number  -->
    <div class="form-group col-md-4">
      {{ form.employee_phone.label(class="form-control-label") }}

      {% if form.employee_phone.errors %}
      {{ form.employee_phone(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_phone.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_phone(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- employee_SIN -->
    <div class="form-group col-md-4">
      {{ form.employee_SIN.label(class="form-control-label") }}

      {% if form.employee_SIN.errors %}
      {{ form.employee_SIN(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_SIN.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_SIN(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- employee_date_of_hire -->
    <div class="form-group col-md-4">
      {{ form.employee_date_of_hire.label(class="form-control-label") }}

      {% if form.employee_date_of_hire.errors %}
      {{ form.employee_date_of_hire(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_date_of_hire.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_date_of_hire(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </div>
  <div class="form-row">
    <!-- employee_email -->
    <div class="form-group col-md-8">
      {{ form.employee_email.label(class="form-control-label") }}

      {% if form.employee_email.errors %}
      {{ form.employee_email(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_email(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <div class="form-group col-md-4">
      {{ form.employee_date_of_birth.label(class="form-control-label") }}

      {% if form.employee_date_of_birth.errors %}
      {{ form.employee_date_of_birth(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_date_of_birth.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_date_of_birth(class="form-control form-control-lg") }}
      {% endif %}
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{ form.employee_Address.label(class="form-control-label") }}

      {% if form.employee_Address.errors %}
      {{ form.employee_Address(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_Address.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_Address(class="form-control form-control-lg") }}
      {% endif %}
    </div>

  </div>
    

    

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock content %}