{% extends "layout.html" %}
{% block content %}
<p> Please enter information of new employee below.</p>
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
  </fieldset>
  <div class="form-row">
    <!-- first name -->
    <div class="form-group col-md-3">
      {{ form.employee_first_name.label(class="form-control-label") }}

      {% if form.employee_first_name.errors %}
      {{ form.employee_first_name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_first_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_first_name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- last name -->

    <div class="form-group col-md-3">
      {{ form.employee_last_name.label(class="form-control-label") }}

      {% if form.employee_last_name.errors %}
      {{ form.employee_last_name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_last_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_last_name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- middle name -->
    <div class="form-group col-md-3">
      {{ form.employee_middle_name.label(class="form-control-label") }}

      {% if form.employee_middle_name.errors %}
      {{ form.employee_middle_name(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
        {% for error in form.employee_middle_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.employee_middle_name(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock content %}