{% extends "layout.html" %}
{% block content %}
<div class="container m-auto p-3 bg-light">
  <div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">General</h5>
            <p class="card-text">Displays general information about each employee</p>
          <a href="{{ url_for('employeeinfo') }}" class="btn btn-primary"> Get Info of Employees</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payroll</h5>
            <p class="card-text">Displays payroll information for each employee</p>
          <a href="{{ url_for('payroll') }}" class="btn btn-primary">Get Payroll Info of Employee</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tax</h5>
            <p class="card-text">Displays tax information for each employee</p>
          <a href="{{ url_for('tax') }}" class="btn btn-primary">Get Tax Info</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}



