{% extends "layout.html" %}
{% block content %}
<div class="container m-auto p-3 bg-light">
  <div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Info of All Employees </h5>
            <p class="card-text"> To get general information of all employees working in
              the company, click button below </p>
          <a href="{{ url_for('employeeinfo') }}" class="btn btn-primary"> Get Info of Employees</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payroll Info of Employee</h5>
            <p class="card-text">Enter employee info and get his/her payroll info</p>
          <a href="{{ url_for('payroll') }}" class="btn btn-primary">Get Payroll Info of Employee</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tax Report</h5>
            <p class="card-text">small description here </p>
          <a href="{{ url_for('tax') }}" class="btn btn-primary">Get Tax Info</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}



